.btn {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border: 2px solid #fff;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
  user-select: none;
  transition: background-color 0.12s ease;
  &:hover {
    background-color: rgb(0, 100, 0);
  }
}
