header {
  height: calc(100vh - 62px);
  .container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    height: 100%;
    > * {
      width: 50%;
    }
    .person {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .person-img {
        width: 100%;
      }
    }
    .person-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1.5rem;
      .title {
        font-size: 2rem;
        text-transform: capitalize;
      }
      .bio {
        line-height: 1.8;
      }
      button {
        text-transform: capitalize;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column-reverse;
      justify-content: center;
      min-height: 100%;
      height: auto;
      > * {
        width: 100%;
      }
      .person {
        align-items: center;
        .person-img {
          width: 50%;
        }
      }
      .person-info {
        text-align: center;
        align-items: center;
        padding: 2rem 0;
      }
    }
  }
}
